// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;                                                 
 
}                                                   
 
h1 {
    font-size: 24px;
    line-height: 1;
    margin: 21px 0 21px 0;
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
    background-color: #yellow;
    color: #666666;
    font-weight: lighter;
}     
